{%extends 'base.html'%}
{% block 'content' %}
{% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col mb-4">
                <div class="h-100 p-5 text-white barra text-center">
                    <h1 class="text-center titulo barra"> Nuestros Productos </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center py-3 fs-5"> <strong class="fs-4">OnlyFlans</strong> nace en el año 2022 buscando entregar postres y pasteles variados y de calidad.</p>
                <div class="col text-center">
                    <a href="{% url 'acerca' %}" class="btn mx-auto botones py-2"> Conozca más </a>
                </div>
                <br>
                <hr>      
            </div>
        </div>
    </div>
    <div class="container mb-3">   
        <div class="row">
            {% for flan in public_flans %}
                <div class ="col col-xl-3 col-md-4 p-2">
                    <div class="card m-2 p-1 h-100 w-100" style="width: 14rem;">
                        <img src="{{ flan.image_url }}" class="card-img-top-fluid h-40" alt="{{flan.name}}"style="height:220px;">
                        <div class="card-body">
                            <h5 class="card-title fw-bold fs-3">{{flan.name}}</h5>
                            <p class="card-text">{{flan.description}}</p>
                        </div>
                        <div class="card-body text-center">
                            <ul class="list-group list-group-flush">
                                <hr>
                                <li class="list-group-item fw-bold fs-4 precio">$   {{ flan.price }} </li>
                            </ul>
                            <hr>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn botones m-3 text-center">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}